<div class="community">
  <div class="picture">

  </div>
  <button class="logout_component" id="button_join_for_login">join</button>
  <h3 class="name">[@name]</h3>

  <input type="text" placeholder="🔍 Recherchez votre mot clé"/>

  <p>
    Gérant de la communauté: [@owner_name] Localisation: [@square]
  </p>
  <p>
    Nombre de membres: [@members]
  </p>
  <button> Voir les Membres </button> <br/>
  <button> Publier un service </button><br/>
  <button> Publier un message </button><br/>

  <input type="checkbox" />Annonces <input type="checkbox" />Messages
  <h4> Les derniers messages</h4>
  <div>
  [@messages]
</div>


</div>
