
<main>

<form id="nous-rejoindre">
<h2 class="join-us">Rejoindre une communeauté</h2>

<select class="categories" name="categories" size="1">
<option selected="Catégories">Catégories</option>
<option>Jardinage</option>
<option>Bricolage</option>
<option>Aide à Domicile</option>
</select>

<div id="cp-keywords">
<input class="inputStyle" type="text" name="cp" placeholder="code postal">
<input class="inputStyle" type="text" name="keywords" placeholder="Mots Clefs">
<input class="inputStyle" type="submit" name="search">

</div>


<h2>Créer une communeauté</h2>

<label for="categories">Séléctionner une catégorie : </label>

<select id="categories">
    <option value="">--Choisir une catégorie--</option>
    <option value="bricolage">Bricolage</option>
    <option value="jardin">Jardin</option>
	<option value="enfants">Garde d'enfants</option>
	<option value="menage">Ménage</option>
</select>


<input class="nom" type="text" name="nom" placeholder="Nom de la communeauté">


<div id="cp-keywords">
<input class="inputStyle" type="text" name="cp" placeholder="code postal">
<input class="inputStyle"type="text" name="cp" placeholder="Mots Clefs">
<textarea id="story" name="story"
          rows="5" cols="60">
Descriptif de la communeauté
</textarea>
<input class="valider" type="submit" name="create" placeholder="Créer">

</div>
</form>

<h3>Derniers services proposés : </h3>

<div id="last-services">


<div class="identite">

 <img src="avatar-homme.png">
 <p>Aurélie <i class="material-icons" style="color: #eb6252;">
star
</i><span>4.5/5</span></p>

 <p>Bonjour je propose mes services d'aide au devoirs la semaine ...</p>
</div>

 <div class="elements">

 <p>25 UEV</p>
 <p><i style="color: #eb6252;" class="material-icons">
hourglass_full
</i>1 heure</p>
 <p><i style="color: #eb6252;" class="material-icons">
location_on
</i>Lille</p>
 </div>

</div>
</div>

<h3>Comment ça marche ? </h3>
<h3>Pourquoi choisir A notre service ? </h3>

<div id="stats">
<div><p>3 980 de membres</p></div>
<div><p>38 909 communeautés</p></div>
<div><p>7658€ économisés</p></div>
</div>

<h3>Ils témoignent : </h3>
<div id="last-services">


<div class="identite">

 <img src="images/avatar-homme.png">
 <p>Michel<i class="material-icons" style="color: black;">star</i><span>4.5/5</span></p>

 <p>Bonjour je propose mes services d'aide au devoirs la semaine ...</p>
</div>

</div>
</div>

<h3>Retrouvez nous sur :</h3>

<div id="rs">
	<img src="facebook.svg" alt="Social Media facebook">
	<img src="twitter.svg" alt="Social Media twitter">
	<img src="instagram.svg" alt="Social Media instagram">
</div>
</div>

</main>
