<div class="member">
  <div class="picture">

  </div>

  <span class="name">[@name]</span>

  <div id="profile_star_rating_wrapper">
    <div id="profile_star_rating_container">
      <i class="material-icons" style="animation-delay: 800ms">star</i>
      <i class="material-icons" style="animation-delay: 900ms">star</i>
      <i class="material-icons" style="animation-delay: 1s">star</i>
      <i class="material-icons" style="animation-delay: 1.1s">star_half</i>
      <i class="material-icons" style="animation-delay: 1.2s">star_border</i>
      <span>
        [@rate] / 5
      </span>
    </div>
  </div>
</div>
