

<form method="" action="" id="community-form">
<i class="material-icons">arrow_back</i>
<h1><span id="name_community_profil">Jardin et Potager</span></h1>
<button id="button_join_community_profil">Rejoindre</button>
<h4>Gérant de la communauté : <span id="name_owner_community_profil">Sébastien</span></h4>
<h4><i class="material-icons">location_on </i><span id="square_community_profil"> Lille</span></h4>
<h4><i class="material-icons">members </i>Membres dans la communauté : <span id="members_number_community_profil">256</span></h4>

<div class="buttons-community">
<button type="button">Publier un service</button>
<button type="button">Publier un message</button>
<button type="button">Voir les membres</button>
</div>
<ul id="list_members_community_profil">
		<li class="member">
			<div class="member-infos">
		<img src="images/avatar-trois.png" alt="" />
		<p>lorem ipsumdsmlsdmsldmsldsmlmsdlsm</p>
		<p><i class="material-icons">star_rate</i>Note</p>
		<p><i class="material-icons">person_pin</i>Profil</p>
			</div>
		</li>
</ul>

<input type="radio" name="messages" value="messages">Messages
<input type="radio" name="annonces" value="annonces">Annonces

<h5>Les derniers messages</h5>

/* reprendre bloc homepage */
</form>
