<style>

#form-service{

	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}	

</style>


<form method="" action="" id="community-form">
<i class="material-icons">arrow_back</i><h1>Jardin et Potager</h1>
<h2>Publier un message sur "Jardin et Potager"</h2>

<input type="search" placeholder="Entrez un mot-clef" name="the_search">

<h4>Gérant de la communeauté : Sébastien</h4>
<h4><i class="material-icons">location_on </i>Localisation : Lille</h4>
<h4><i class="material-icons">members </i>Membres dans la communeautés : 256</h4>

<button type="button">Publier un service</button>
<button type="button">Publier un message</button>
<button type="button">Voir les membres</button>
<ul>
		<li class="member">
			<div class="member-infos">
		<img src="images/avatar-trois.png" alt="" />
		<p>lorem ipsumdsmlsdmsldmsldsmlmsdlsm</p>
		<p><i class="material-icons">star_rate</i>Note</p>
		<p><i class="material-icons">person_pin</i>Profil</p>
			</div>
		</li>
</ul>

<input type="radio" name="messages" value="messages">Messages
<input type="radio" name="annonces" value="annonces">Annonces

<h5>Les derniers messages</h5>

/* reprendre bloc homepage */
</form>