<div>
  <div id="login_dialog" class="dialog_container" style="opacity: 0; pointer-events: none;">
    <div id="login_darken_layer_dialog" class="dialog_darken_layer"></div>
    {% "login_dialog.html" %}
    {% "register_dialog.html" %}
    </div>
  </div>
  <div class="page" data-page="home">
    {% "home.html" %}
  </div>
  <div class="page" data-page="communities">
    {% "communities.html" %}
  </div>
  <div class="page" id="history" data-page="history">
    {% "history.html" %}
  </div>
  <div class="page" data-page="profil">
    {% "profil.html" %}
  </div>
  <div class="page" data-page="messages">
    {% "messages.html" %}
  </div>

  <div class="page" data-page="community" >
  </div>
</div>
