<style>

#form-service{

	width: 500px;
	display: flex;
	flex-direction: column;
}	

</style>


<form method="" action="" id="form-service">
<i class="material-icons">arrow_back</i><h2>Jardin et Potager</h2>
<p>Publier un message sur "Jardin et Potager"</p>

<input type="text" name="title-message" placeholder="Titre du message">
<textarea rows="10" cols="40" name="comment" form="form-service" placeholder="Descriptif du message">
</textarea>


<button type="button"><i class="material-icons">add_a_photo</i> Publier une photo</button>
<br>
<button class="buttonLeft">Publier mon annonce dans la communeauté</button>


</form>