<main>

<form id="nous-rejoindre">
<h2 class="join-us">Rejoindre une communeauté</h2>

<select class="input-home" name="categories" size="1">
<option selected="Catégories">Catégories</option>
<option>Jardinage</option>
<option>Bricolage</option>
<option>Aide à Domicile</option>
</select>

<div id="cp-keywords">
<input class="input-home"type="text" name="cp" placeholder="code postal">
<input class="input-home"type="text" name="cp" placeholder="Mots Clefs">
<input class="button-home" type="submit" name="search">

</div>


<h2 class="creer" style="margin-top: 30px;">Créer une communeauté</h2>

<select class="input-home" name="categories" size="1">
<option selected="Catégories">Catégories</option>
<option>Jardinage</option>
<option>Bricolage</option>
<option>Aide à Domicile</option>
</select>

<input class="input-home" type="text" name="nom" placeholder="Nom de la communeauté">


<input class="input-home"type="text" name="cp" placeholder="Code postal">
<input class="input-home"type="text" name="cp" placeholder="Mots Clefs">
<textarea id="input-home" name="story"
          rows="5" cols="53">
Décrivez votre communeauté ...
</textarea>
<input class="button-home" type="submit" name="create" placeholder="Créer">

</form>


<div class="container-user">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Aurélie</h1>
      <p class="card-subtitle">
        Jardinière passionnée
      </p>
      <img id="img-user" title="profile" alt="card-img" src="./images/avatar-trois.png">
    </div>
    <div class="card-body">
      <p id="service-description">
        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
         Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme
         assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. 
         Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique.
         
      </p>
    </div>
    <div class="card-footer">
       <p>
                  1 heure<i class="material-icons">hourglass_full</i>
               
                  Lille<i class="material-icons">location_on</i>
       </p>

    </div>
  </div>  
</div>

</main>

<div id="black_screen">
</div>
<div id="login_dialog" class="dialog_container">
  <div id="login_darken_layer_dialog" class="dialog_darken_layer"></div>
    <div id="login_page">
      {% "dialogs/login_dialog.html" %}
    </div>
    <div id="register_page" style="display:none">
      {% "dialogs/register_dialog.html" %}
    </div>
</div>
