<div id="login_dialog" class="dialog_container" style="display: none">
	<div id="login_darken_layer_dialog" class="dialog_darken_layer"></div>
	<div class="dialog_card">
		<div class="dialog_title">
			Connection
		</div>
		<div class="dialog_subtitle">
			Connectez vous et rejoignez plus de 20 000 membres !
		</div>
		<div class="dialog_content">
			<div class="inputs_group">
				<div class="input_container">
					<div class="input_icon_container">
						<i class="material-icons">mail</i>
					</div>
					<input
						type="text"
						placeholder="Email"
					>
				</div>
				<div class="input_container">
					<div class="input_icon_container">
						<i class="material-icons">lock</i>
					</div>
					<input
						type="password"
						placeholder="Mot de passe"
					>
				</div>
			</div>
		</div>
		<div class="dialog_actions">
			<button id="login_submit">Se connecter</button>
			<div id="login_button_container" class="button_container">
				Fermer
			</div>
		</div>
	</div>
</div>
