<style>

#form-service{

	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}	

#member{
	display: flex;
	flex-direction: row;
}

</style>


<form method="" action="" id="form-service">
<i class="material-icons">arrow_back</i><h1>Les membres</h1>
<h4>Gérant de la communeauté : Sébastien</h4>
<h4><i class="material-icons">location_on </i>Localisation : Lille</h4>
<h4><i class="material-icons">members </i>Membres dans la communeautés : 256</h4>

<div id="member">
<img src="" alt="" />
<p>lorem ipsumdsmlsdmsldmsldsmlmsdlsm</p>
<i class="material-icons">star_rate</i>
<i class="material-icons">person_pin</i>
</div>