<div id="menu" class="logged">
	<div class="menu_item menu" data-page="home">
		<i class="material-icons">home</i>
		<div class="menu_item_title">
			Accueil
		</div>
	</div>
	<div class="menu_item menu" data-page="communities">
		<i class="material-icons">share</i>
		<div class="menu_item_title">
			Communautés
		</div>
	</div>
	<div class="menu_item menu" data-page="profil">
		<i class="material-icons">person</i>
		<div class="menu_item_title">
			Profil
		</div>
	</div>
	<div class="menu_item menu" data-page="community">
		<i class="material-icons">history</i>
		<div class="menu_item_title">
			Historique
		</div>
	</div>
</div>
