<nav id="menu" class="logged">
  <ul><li class="menu" data-page="profil" ><div id="pictureProfilNav"></div><span>Profil</span>
  </li><li class="menu" data-page="messages">
    <div id="pictureMessagesNav"></div><span>
    Messagerie
    </span>
  </li><li class="menu" data-page="home">
    <div id="pictureHomeNav"></div><span>
      Accueil
    </span>
  </li><li class="menu" data-page="communities">
    <div id="pictureCommunitiesNav"></div><span>
      Communautés
    </span>
    </li><li class="menu" data-page="history">
      <div id="pictureHistoryNav"></div><span>
      Historique</li></ul>
    </span>
</nav>
