<div class="profil">
  <!-- <div class="main">
    <img
    src="https://www.lyonmag.com/medias/images/stephane-bern45.jpg"
    class="profil_picture"
    />
    <h3 class="profil_name"> Stephane 4,5/5 ★</h3>
    <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div class="uev">5UEV</div> <div class="position">Lille</div> <div class="timeJoin">23/01/2019</div>
  </div> -->
	<div
		class="card"
		id="profile_informations"
	>
		<div
			class="card"
			id="profile_avatar_container"
		>
			<!-- <img
				src=""
				alt="Stéphane"
			> -->
		</div>
		<div id="profile_star_rating_wrapper">
			<div id="profile_star_rating_container">
				<i class="material-icons" style="animation-delay: 800ms">star</i>
				<i class="material-icons" style="animation-delay: 900ms">star</i>
				<i class="material-icons" style="animation-delay: 1s">star</i>
				<i class="material-icons" style="animation-delay: 1.1s">star_half</i>
				<i class="material-icons" style="animation-delay: 1.2s">star_border</i>
				<span>
					3.5 / 5
				</span>
			</div>
		</div>
		<div
			class="profile_field"
			id="profile_name"
		>
			<i class="material-icons">face</i>
			<span>
				Stéphane
			</span>
		</div>
		<div
			class="profile_field"
			id="profile_wallet"
		>
			<i class="material-icons">account_balance</i>
			<span>
				5 UEV
			</span>
		</div>
		<div
			class="profile_field"
			id="profile_location"
		>
			<i class="material-icons">location_on</i>
			<span>
				Lille
			</span>
		</div>
		<div
			class="profile_field"
			id="profile_joinedAt"
		>
			<i class="material-icons">timer</i>
			<span>
				23/01/2019
			</span>
		</div>
	</div>

  <div class="communities">
    <h3 id="profil_admin">Admistrateur</h3><h3 id="profil_member">Membres</h3>
    <div id="listCommunityInProfil">

    </div>
  </div>

  <div class="commentaries">
      <h3>Ses commentaires</h3>
      <div id="commentariesList">

      </div>
  </div>

</div>
