<h2>Profil</h2>
<div class="profil">
  <div class="main">
    <img
    src="https://www.lyonmag.com/medias/images/stephane-bern45.jpg"
    class="profil_picture"
    />
    <h3 class="profil_name"> Stephane 4,5/5 ★</h3>
    <p class="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <div class="uev">5UEV</div> <div class="position">Lille</div> <div class="timeJoin">23/01/2019</div>
  </div>

  <div class="communities">
    <h3>Admistrateur</h3><h3>Membres</h3>
    <div id="listCommunityInProfil">

    </div>
  </div>

  <div class="commentaries">
      <h3>Ses commentaires</h3>
      <div id="commentariesList">

      </div>
  </div>

</div>
