
  <main>

  <h2>Mon Profil <i class="material-icons">settings</i></h2>


  <div class="identite">
   <img id="main-avatar" src="images/img_avatar.png">

   <div id="rate">
     <h2 id="name_user_profil">Sébastien</h2>
  </div>

   <p>Bonjour m'appelle Sébastien et je suis ici pour le partage entre les personnes. Mes passions sont le jardinage et la pêche.</p>
  </div>

  <div class="infos">
      <div class="position"><p>Position: <span id="square_user_profil">Lille</span></p></div>
  </div>

  <button type="button" id="button_switch_admin_user_profil">Administrateur</button>
  <br />
  <div id="list_communities_admin_user_profil">
    admin
  </div>
  <button type="button"  id="button_switch_member_user_profil">Membre</button>
  <br />
  <div id="list_communities_member_user_profil">
    membre
  </div>
  <h3>Ses commentaires</h3>

  <div class="aurelie">
      <img src="images/avatar-quatre.png">
      <p>Aurélie : </p>
      <p> 4,5/5</p>
      <i class="material-icons">star</i>
      <span>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="30" height="30"
      viewBox="0 0 30 30"
      style=" fill:#000000;">    <path d="M5,27c0-5,6.957-4.174,8-6.999V19c-3.778,0-5.914-1.884-5.914-1.884C9.06,15.473,6.326,4.043,13.049,4.043 c0,0,0.907-1.043,2.08-1.043c8.218,0,5.51,12.41,7.635,14.154c0,0-1.968,1.846-5.765,1.846v1.001C18.043,22.826,25,22,25,27H5z"></path></svg>
      <p>Profil</p>
      </span>
      <div class="note_sebastien">
      <blockquote>Service parfait, Sébastien est vraiment sympathique !</blockquote>
      <i class="material-icons">star</i>
      <i class="material-icons">star</i>
      <i class="material-icons">star</i>
      <i class="material-icons">star_half</i>
      <i class="material-icons">star_border</i>
      </div>
  </div>

  <div class="flore">
      <img src="images/avatar-quatre.png" alt="Avatar de Flore">
      <p>Aurélie : </p>
      <p> 4,5/5</p>
      <i class="material-icons">star</i>
      <span>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="30" height="30"
      viewBox="0 0 30 30"
      style=" fill:#000000;">    <path d="M5,27c0-5,6.957-4.174,8-6.999V19c-3.778,0-5.914-1.884-5.914-1.884C9.06,15.473,6.326,4.043,13.049,4.043 c0,0,0.907-1.043,2.08-1.043c8.218,0,5.51,12.41,7.635,14.154c0,0-1.968,1.846-5.765,1.846v1.001C18.043,22.826,25,22,25,27H5z"></path></svg>
      <p>Profil</p>
      </span>
      <div class="note_sebastien">
      <blockquote>Service parfait, Sébastien est vraiment sympathique !</blockquote>
      <i class="material-icons">star</i>
      <i class="material-icons">star</i>
      <i class="material-icons">star</i>
      <i class="material-icons">star_half</i>
      <i class="material-icons">star_border</i>
      </div>
  </div>

  <div class="aurelie">
      <img src="images/img_avatar.png">
      <p>Julien : </p>
      <p> 4,5/5</p>
      <i class="material-icons">star</i>
      <span>
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="30" height="30"
      viewBox="0 0 30 30"
      style=" fill:#000000;">    <path d="M18,19v-2c0.45-0.223,1.737-1.755,1.872-2.952c0.354-0.027,0.91-0.352,1.074-1.635c0.088-0.689-0.262-1.076-0.474-1.198 c0,0,0.528-1.003,0.528-2.214c0-2.428-0.953-4.5-3-4.5c0,0-0.711-1.5-3-1.5c-4.242,0-6,2.721-6,6c0,1.104,0.528,2.214,0.528,2.214 c-0.212,0.122-0.562,0.51-0.474,1.198c0.164,1.283,0.72,1.608,1.074,1.635C10.263,15.245,11.55,16.777,12,17v2c-1,3-9,1-9,8h24 C27,20,19,22,18,19z"></path></svg>
      <p>Profil</p>
      </span>
      <div class="note_sebastien">
      <blockquote>Service parfait, Sébastien est vraiment sympathique !</blockquote>
      <i class="material-icons">star</i>
      <i class="material-icons">star</i>
      <i class="material-icons">star</i>
      <i class="material-icons">star_half</i>
      <i class="material-icons">star_border</i>
      </div>
  </div>


      <div class="stats-utilisateur">
      <div class="nb-services-done">
      <h4>Nombre de services efféctués : </h4>
      <p class="numbers">48</p>
      </div>

      <div class="nb-services-asked">
      <h4>Nombre de services demandés :</h4>
      <p class="numbers">21</p>
      </div>
      </div>

  </main>
