<div id="registration-form">
	<div class='fieldset'>

    <legend>Bienvenue sur a notre service ! Pour créer votre compte, veuillez renseigner les champs suivants :</legend>
		<form id="register-form">
			<div class='row'>
				<label for='firstname'>Nom</label>
				<input type="text" placeholder="Nom" name='firstname' id='register-firstname' data-required="true" data-error-message="Le nom est requis">
			</div>
      <div class='row'>
				<label for='firstname'>Prénom</label>
				<input type="text" placeholder="Prénom" name='firstname' id='register-lastname' data-required="true" data-error-message="Le prénom est requis">
			</div>
			<div class='row'>
				<label for="email">E-mail</label>
				<input id="register-email" type="text" placeholder="E-mail"  name='email' data-required="true" data-type="email" data-error-message="Your E-mail is required">
			</div>
      <div class='row'>
				<label for="cemail">Confirmez votre email</label>
				<input id="register-cemail" type="text" placeholder="Confirmez vore E-mail" name='cemail' data-required="true" data-error-message="L'email doit correspondre">
			</div>
      <div class='row'>
        <label for="adress">Adresse postale</label>
				<textarea id="register-address" rows=5></textarea>
			</div>
			<div class='row cp'>
				<label for="cp">Code postal</label>
				<input id="register-cp" type="text" placeholder="" name='cp' data-required="true" data-error-message="">
			</div>
			<div class='row ville'>
				<label for="cemail">Ville</label>
				<input id="register-city" type="text" placeholder="" name='ville' data-required="true" data-error-message="">
			</div>
      <div class='row'>
				<label for="password">Password</label>
				<input id="register-password" type="password" placeholder="Password"  name='email' data-required="true" data-type="email" data-error-message="Le mot de passe est requis">
			</div>
			<input type="submit" value="Créer mon compte">
		</form>
	</div>
</div>
