<div id="bg">
  <div class="module">
    <form class="form-login">
      <h2 class="login-title">Se connecter</h2>
      <input type="mail" placeholder="Adresse Email" class="textbox" />
      <input type="password" placeholder="Mot de passe" class="textbox" />
      <input type="button" value="Connexion" class="button" id="login_action_button"/>

      <a href="#" class="reset-password">Mot de passe oublié?</a>

      <div class="register">
        <h2 class="register-title">Nouveau ? Créez votre compte en deux minutes !</h2>
        <input type="button" value="S'inscrire" class="button" id="button_switch_register"/>
      </div>
    </form>
  </div>
</div>
