<h1>Afin de rejoindre une communeauté, inscrivez vous ou connectez vous</h1>



<form class="login-form">
  <h4> Se connecter </h4>
  <input class="name" type="text" placeholder="Adresse e-mail"/>
  <input class="pw" type="password" placeholder="Mot de passe"/>
  <input class="button" type="submit" value="Se connecter"/>
  <br>
  <li><a href="#">Mot de passe oublié ?</a></li>

<div class="register">
  <h4> Créer un compte </h4>
  <input class="button" type="submit" value="S'inscrire"/>
 </div>

</form>