<form class="login-form">
  <h1>Afin de rejoindre une communeauté, inscrivez vous ou connectez vous</h1>
  <h2> Se connecter </h2>
  <input  class="inputStyle" type="text" placeholder="Adresse e-mail"/>
  <input  class="inputStyle" type="password" placeholder="Mot de passe"/>
  <button class="buttonLeft" type="button">Se connecter</button>
  <br>
 
  <li><a href="#">Mot de passe oublié ?</a></li>

<div class="register">
  <h2> Créer un compte </h2>
  <button class="buttonLeft" type="button">S'inscrire</button>
 </div>

</form>