<div id="bg">
  <div class="module">
    <form class="form-register" id="form_register">
      <h2 class="login-title"> <i class="material-icons backspace" id="return-register-dialog">keyboard_backspace</i>Créer mon compte</h2>
      <input type="text" id="register-name" placeholder="Nom" class="textbox" />
      <input type="text" id="register-firstName" placeholder="Prénom" class="textbox" />
      <input type="date" id="register-birthDate" placeholder="Date de Naissance" class="textbox" />
      <input type="number" id="register-address" placeholder="Votre adresse" class="textbox" />
      <input type="text" id="register-city" placeholder="Ville" class="textbox" />
      <input type="mail" id="register-postalCode" placeholder="Code postal" class="textbox" />
      <input type="mail" id="register-email" placeholder="Email" class="textbox" />
      <input type="mail" id="register-cemail" placeholder="Confirmation email" class="textbox" />
      <input type="password" id="register-password" placeholder="Mot de passe" class="textbox" />
      <input type="submit" onclick="handleRegisterSubmit()" value="Créer" class="button" />
  </div>
</div>
