<div id="bg">
        <div class="module">
          <form class="form-register" id="form_register">
            <h2 class="login-title">Créer mon compte</h2>
            <input type="text" placeholder="Nom" class="textbox" />
            <input type="text" placeholder="Prénom" class="textbox" />
            <input type="date" placeholder="Date de Naissance" class="textbox" />
            <input type="number" placeholder="Code Postal" class="textbox" />
            <input type="text" placeholder="Ville" class="textbox" />
            <input type="mail" placeholder="Adresse e-mail class="textbox" />
            <input type="password" placeholder="Mot de passe" class="textbox" />
            <input type="number" placeholder="Contribution (min: 50€)" class="textbox" />
            <input type="button" value="Créer" class="button" />
        </div>
      </div>
