
    <form class="register-form">
    <h1>Bienvenue sur Co' tidien</h1>
    <h2>Pour créer votre compte, veuillez compléter les champs suivants : </h2>
    <input class="inputStyle" type="text" name="nom" placeholder="Nom">
    <input class="inputStyle" type="text" name="prenom" placeholder="Prénom">
    <input class="inputStyle" type="date" name="birthdate" placeholder="Date de Naissance">
    
    <input class="inputStyle" type="number" name="cp" placeholder="Code Postal">
    <input class="inputStyle" type="text" name="Ville" placeholder="Ville">
    <input class="inputStyle" type="email" name="mail" placeholder="Adresse e-mail">
    <input class="inputStyle" type="password" name="password" placeholder="Mot de passe">
    <input class="inputStyle" type="number" name="contribution" placeholder="Contribution (min: 50€)">
    
    <button class="buttonLeft" type="button">Créer mon compte</button>
    </form>
    
    