.button_container {
	padding: 4px 10px;
	width: fit-content;
	min-width: 64px;
	min-height: 36px;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	line-height: 1.5;
	font-weight: 500;
	border-radius: 4px;
	color: #444;
	position: relative;
	overflow: hidden;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 300ms ease;
	will-change: background-color;
	cursor: pointer;
}

.button_container:hover:not(.button_container_raised) {
	background-color: rgba(0, 0, 0, .1)
}

.button_container_primary {
	color: #2196f3;
}

.button_container_raised {
	background-color: #eb6555;
	color: #fff;
	padding: 4px 14px;
	box-shadow: 0 10px 25px rgba(29,29,31,0.15);
}
