#communities_list_communities {
    padding: 0 10px;
}

#community-form{
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

h1, h2{
    text-align: center;
}

.buttons-community{
	display:flex;
	justify-content: center;
}

.buttons-community button{
	margin: 10px;
	padding: 5px;
	height:50px;
	width: 100px;
}

#community-form{
	text-align: center;
}

#form-service{

	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h4{
	text-align: center;
}

.action-communaute{
	justify-content: center;
	padding: 50px;
	background: #256273;
	display: flex;
}

.action-communaute ul{
	list-style: none;
	display: flex;
}

.action-communaute h3{
	padding-left: 30px;
}


  