.page{
  display: none;
  background-color: blue;
  position:fixed;
  top: 200px;
  bottom: 130px;
  left:5px;
  right:5px;
  overflow-y: scroll;
}
.page h2{
  text-align: center;
  font-size: 40px;

}
