.page{
  display: none;
  background-color: blue;
  position:fixed;
  top: 100px;
  bottom: 70px;
  left:5px;
  right:5px;
  overflow-y: scroll;
}
.page h2{
  text-align: center;
  font-size: 25px;

}
