.dialog_container {
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transition: opacity 300ms ease;
	will-change: opacity;
}

.dialog_card {
	height: 500px;
	width: 85%;
	max-width: 700px;
	background-color: #fff;
	border-radius: 4px;
	z-index: 2;
	padding: 30px 20px 10px;
	box-shadow: 0 15px 45px rgba(29,29,31,0.2);
	display: flex;
	flex-direction: column;
}

.dialog_darken_layer {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
}

.dialog_title {
	font-size: 30px;
	color: rgba(0, 0, 0, .87);
	font-weight: 700;
}

.dialog_subtitle {
	font-size: 18px;
	margin-top: 15px;
	line-height: 1.5;
}

.dialog_content {
	flex: 1 1 auto;
  padding: 24px 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.dialog_actions {
	flex: 0 0 auto;
  margin: 8px 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
