header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 45px rgba(29,29,31,0.2);
  transition: height 150ms ease;
  will-change: height;
  padding: 10px 25px;
  background-color: #eb6252;
  z-index: 1;
  height: 50px;
}

header > #logo {
  background-image: url("logo.svg");
  width: 75px;
  height: 75px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  top: 10px;
}
