.inputs_group .input_container:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top: 1px solid #efefef;
}

.inputs_group .input_container:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: 1px solid #efefef;
}

.inputs_group .input_container {
	width: 100%;
	border: 1px solid #efefef;
	border-top: none;
}

.input_container {
	padding: 0 17.5px;
	border: 1px solid #efefef;
	display: flex;
	background-color: #f8f8f8;
}

.input_icon_container {
	height: 50px;
	width: 50px;
	display: flex;
	align-items: center;
	margin-right: 17.5px;
	border-right: 1px solid #efefef;
}

.input_container > input {
	flex: 1;
	border: none;
	padding: 0 5px;
	background-color: transparent;
}




/* LOGIN */




.module{
  position:relative;
  top:15%;    
  height:70%;
  width:400px;
  margin-left:auto;
  margin-right:auto;
  border-radius:5px;
  background:lightgrey;
    
  -webkit-box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);        
  box-shadow:  0px 0px 15px 0px rgba(0, 0, 0, .45);
  
}




.form-login, .form-register{
  float:left;
  height:86%;
  width:100%;
  box-sizing:border-box;
  padding:40px;
  background: #f9f9f9;
}

.textbox{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:20px;
}

.textbox:focus{
  outline:none;
   border: #EB6252 2px solid;
   color:rgba(24,149,215,1);
}

.button{
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
  background:#EB6252;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition: background .4s;
  cursor:pointer;
}

.button:hover{
  background:#EB6252;
  
}

.register{
  margin-top: 30px;
}

.register-title, .login-title{
  color: black;
  text-align: center;
  margin: 15px;
}

.reset-password{
  margin: 0;
  font-size: 15px;
  display:block;
  text-decoration:none;
  text-align:center;
}


.input-home{
  height:45px;
  width:80%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:8px;
  margin-top: 8px;
}

.input-home:focus{
  outline:none;
   border: #EB6252 2px solid;
   color:rgba(24,149,215,1);
}



.button-home{
  height:50px;
  width:80%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
  background:#EB6252;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition: background .4s;
  cursor:pointer;
}