#menu{
  position:fixed;
  left:0px;
  right:0px;
  height: 65px;
  bottom:0px;
	box-shadow: 0 -5px 17px 0 rgba(0,0,0,.10);
	padding: 10px 10px;
	background-color: #fff;
	z-index: 1;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	animation: fade-in-translate 1s ease;
}

#menu > .menu_item {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu > .menu_item > .menu_item_title {
	margin-top: 7.5px;
	font-size: 10px;
}
