#profile_informations {
	position: relative;
	height: auto;
	min-height: 200px;
	margin-top: 40px;
	animation: fade-in-translate 1.5s ease;
	padding: 0px 40px 20px;
}

#profile_avatar_container {
	height: 80px;
	width: 80px;
	position: absolute;
	top: -40px;
	left: 20px;
	opacity: 0;
	animation: fade-in-translate 1.5s ease 100ms;
	animation-fill-mode: forwards;
	padding: 0;
	overflow: hidden;
}

#profile_avatar_container > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#profile_star_rating_wrapper {
	height: 60px;
	flex: 1;
	display: flex;
	align-items: center;
}

#profile_star_rating_container {
	flex: 1;
	margin-left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#profile_star_rating_container > i {
	opacity: 0;
	animation: fade-in-translate-really-low 1s ease;
	animation-fill-mode: forwards;
}

#profile_star_rating_container > span {
	margin-left: 15px;
	font-size: 14px;
	font-weight: 500;
	opacity: 0;
	animation: fade-in 1s ease 1.3s;
	animation-fill-mode: forwards;
}

.profile_field {
	display: flex;
	align-items: center;
	margin-top: 15px;
}

.profile_field > i {
	margin-right: 15px;
}

#profile_name {
	margin-top: 25px;
	opacity: 0;
	animation: fade-in-translate-left 750ms ease 800ms;
	animation-fill-mode: forwards;
}

#profile_name > span {
	font-size: 20px;
	color: #2f2f2f;
	font-weight: 500;
}

#profile_wallet {
	opacity: 0;
	animation: fade-in-translate-left 750ms ease 900ms;
	animation-fill-mode: forwards;
}

#profile_wallet > span {
	font-size: 16px;
	color: #3f3f3f;
}

#profile_location {
	opacity: 0;
	animation: fade-in-translate-left 750ms ease 1000ms;
	animation-fill-mode: forwards;
}

#profile_location > span {
	font-size: 16px;
	color: #3f3f3f;
}

#profile_joinedAt {
	opacity: 0;
	animation: fade-in-translate-left 750ms ease 1100ms;
	animation-fill-mode: forwards;
}

#profile_joinedAt > span {
	font-size: 16px;
	color: #3f3f3f;
}
