.profil{

  font-size: 35px;
}
.profil .profil_picture{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  position: absolute;
  top: 10px;
  left: 5px;
}
.profil .main .bio{
  position: absolute;
  left: 170px;
  right: 5px;
  top: 60px;
}
.profil .main{
  background-color: yellow;
  position: relative;
  height: 280px;
}
.profil .main .uev{
  position: absolute;
  bottom: 0px;
  left: 105px;
}

.profil .main .timeJoin{
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.profil .main .position{
  position: absolute;
  bottom: 0px;
  left: 50%;
}
.profil .communities{
  background-color: orange;
}

.profil .commentaries{
  background-color: purple;
}
